*{
	outline: none !important;
}
.color-info{
  color:#67A7F1;
}
.color-warning{
  color:#FEA88A;
}
.color-success{
  color:#A3D46E;
}
.color-error{
  color:#F47171;
}
.align-left{
  float: left;
}
.space-left{
  margin-left: 20px;
}

/* Form Controls --- Start */
.sg-form-element {
  padding: 30px;
}
.sg-form-title {
  font-size: 22px;
  display: inline-block;
}
.sg-form-card-title{
  font-size: 16px;
  display: inline-block;  
}

.sg-form-group{
  clear:both;
  margin-bottom:24px; 
}
.sg-form-group label{
  display:block;
  padding-bottom:8px;
  text-align:left;
}

.sg-form-group input[type=text], 
.sg-form-group input[type=password], 
.sg-form-group input[type=email], 
.sg-form-group input[type=tel],
.sg-form-group textarea,
.sg-form-group select{
  height:40px;
  width:100%;
  padding:12px;
  border:1px solid #AAC0CE;
  border-radius: 0px;
  box-sizing:border-box;
  background:#fff;
}
.sg-form-group select{
  -webkit-appearance:none;
  -webkit-border-radius: 0px;
  background-image: url("../images/ic_arrow_drop_down_24px.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

textarea.sg-form-textarea{
	height: 120px;
	resize:none;
}

input.sg-form-text-input:active, input.sg-form-text-input:focus,
textarea.sg-form-textarea:active ,textarea.sg-form-textarea:focus,
select.sg-form-select:active, select.sg-form-select:focus
{
	border:1px solid #00ADF2;
}

.sg-form-input-wrap{
	margin-right: 30px;
  float: left;
}

.sg-form-input-wrap > span{
	display:flex;
	width:150px;
	align-items:center;
	height:32px;
}

.sg-form-input-wrap label {
	display: flex;
  float: left;
}
.sg-form-input-wrap input[type=radio], 
.sg-form-input-wrap input[type=checkbox]{
  float: left;
  margin-right: 10px;
}

.sg-form-footer{
	display:block;
	margin-top:15px;
}
.clearfix{
  clear: both;
}

/* Form Controls --- End */





/* Tabs Controls --- Start */
.sg-tabs-container .sg-tab-content{
	display: none;
}

.sg-tabs-container .sg-tab-content.active-tab-item{
	display: block;
}

.sg-tabs-container .sg-tab-menu-item.active-tab-item{
	border-bottom:1px solid #1F292F;
  font-weight: bold;
  color: #1F292F !important;
}

.sg-tabs-container .sg-tab-menu-item:hover{
	border-bottom:1px solid #1F292F;
}

.sg-tabs-container .gs-tabs-navigation{
	width:100%;
	padding:30px 0 0 0;
	border-bottom:1px solid #CCD3DA;
	margin-bottom:20px;
}

/* search continued*/
.sg-tabs-container-search .sg-tab-content{
	display: none;
}

.sg-tabs-container-search .sg-tab-content.active-tab-item{
	display: block;
}

 .sg-tabs-container-search .sg-tab-menu-item.active-tab-item{
    /* border-bottom:2px solid #00ADF2; */
    color: #dadada
}

/* .sg-tabs-container-search .sg-tab-menu-item:hover{
	border-bottom:2px solid orange;
}  */

.sg-tabs-container-search .gs-tabs-navigation {
    float: right;
    margin-bottom: 20px;
}
.sg-tabs-container-search .gs-tabs-navigation .sg-tab-menu-item{
	display:inline-block;
	  padding:0 5px 10px 5px; 
	/* margin:auto 15px;  */
	cursor:pointer;
	font-size: 14px;
}

.sg-tabs-container-search .sg-tabs-body{
	padding:20px;
}
/*search continued-end */
/* task panel*/
.sg-tabs-container-task-panel {
    padding: 30px;
}

.sg-tabs-container-task-panel .sg-tab-content{
	display: none;
}

.sg-tabs-container-task-panel .sg-tab-content.active-tab-item{
	display: block;
}

 .sg-tabs-container-task-panel .sg-tab-menu-item.active-tab-item{
     color: #1F292F !important; 
     font-weight: bold;
     border-bottom:2px solid #1F292F; 
}

/* .sg-tabs-container-search .sg-tab-menu-item:hover{
	border-bottom:2px solid orange;
}  */

.sg-tabs-container-task-panel .gs-tabs-navigation {
    /* float: right; */
    border-bottom:1px solid #dedede;
    /* margin-bottom: 20px; */
}
.sg-tabs-container-task-panel .gs-tabs-navigation .sg-tab-menu-item {
    display: inline-block;
    padding: 0px 3px 12px 3px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    color: rgba(31, 41, 47, 0.498039215686275);
    font-style: normal;
    text-align: center;
    line-height: normal;
}
a.pull-right.view-edit {
    color: #0071BC;
}
/*task panel-end */

/* search result*/
.sg-tabs-container-search-result {
    padding: 20px;
}

.sg-tabs-container-search-result .sg-tab-content{
	display: none;
}

.sg-tabs-container-search-result .sg-tab-content.active-tab-item{
	display: block;
}

 .sg-tabs-container-search-result .sg-tab-menu-item.active-tab-item{
     border-bottom:2px solid #00ADF2; 
    color: #dadada
}

/* .sg-tabs-container-search .sg-tab-menu-item:hover{
	border-bottom:2px solid orange;
}  */

.sg-tabs-container-search-result .gs-tabs-navigation {
    /* float: right; */
    border-bottom:1px solid #dedede;
    margin-bottom: 20px;
}
.sg-tabs-container-search-result .gs-tabs-navigation .sg-tab-menu-item{
	display:inline-block;
	  padding:0 5px 10px 5px; 
	 margin:auto 15px;  
	cursor:pointer;
	font-size: 14px;
}

.sg-tabs-container-search-result .sg-tabs-body{
	padding:20px;
}
/*search result-end */


.sg-tabs-container .gs-tabs-navigation .sg-tab-menu-item{
	display:inline-block;
	padding:0 5px 10px 5px;
	margin:auto 15px;
	cursor:pointer;
	font-size: 14px;
  position: relative;
  top: 1px;
  color: #585E62;
}

.sg-tabs-container .sg-tabs-body{
	padding:20px;
}

/* Tabs Controls --- End */

/* Selection Controls --- Start */
input.sg-form-select {
    height: 40px;
    width: 300px;
    padding: 12px;
    font-size: 12px;
    border: 1px solid #AAC0CE;
    border-radius: 0px;
    margin-bottom: 24px;
    box-sizing: border-box;
    background: #fff;
}
/* Selection Controls --- end */

/* Buttons --- Start */

.btn{
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 20px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  min-width: 90px;
}
.btn-primary{
  color: #FFFFFF;
  background-color: #0071BC;
}



.btn-primary:hover{
  background-color: #025891;
}

.btn-primary:disabled, .btn-primary[disabled]{
  background-color: #7DB7DF;
  cursor: not-allowed;
}


.btn-secondary{
  color: #0071BC;
  border:1px solid #0071BC;
  background-color: transparent;
}
.btn-secondary:hover{
  color: #FFFFFF;
  background-color: #0071BC;
}
.btn-secondary:disabled, .btn-secondary[disabled]{
  color: #7DB7E0;
  border:1px solid #7DB7E0;
  background-color: transparent;
  cursor: not-allowed;
}
.btn-dark-primary{
  color: #334F6A;
  background-color: #FFFFFF;
}
.btn-dark-primary:hover{
  background-color: #99DEF4;
}
.btn-dark-secondary{
  color: #FFFFFF;
  border:1px solid #FFFFFF;
  background-color: transparent;
}
.btn-dark-secondary:hover{
  background-color: #99DEF4;
  border: none;
  color: #334F6A;
}
.btn-lg{
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 30px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}
.btn-sm{
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 20px;
  height: 36px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.sg-form-submit-button,
.sg-form-primary-button{
	height: 40px;
    font-size: 14px;
    color: #fff;
    padding: 5px 20px;
    background: #0071bc;
    border: 1px solid;
    border-radius: 100px;
    margin-right: 30px;
}
.sg-form-primary-dark-button{
    height: 40px;
    font-size: 14px;
    color: #334F6A;
    padding: 5px 20px;
    background: #ffffff;
    border: 0px solid;
    border-radius: 100px;
    margin-right: 10px;
}
.sg-form-primary-dark-button:hover{
    height: 40px;
    font-size: 14px;
    color: #334F6A;
    padding: 5px 20px;
    background: #99DEF4;
    border: 0px solid;
    border-radius: 100px;
    margin-right: 10px;
}
.sg-form-secondary-dark-button{
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 5px 20px;
    background: #334F6A;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-right: 10px;
}
.sg-form-secondary-dark-button:hover{
    height: 40px;
    font-size: 14px;
    color: #334F6A;
    padding: 5px 20px;
    background: #99DEF4;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-right: 10px;
}

.sg-form-element-dark-background {
    background: #334F6A;
    padding: 30px;
}
.sg-form-cancel-button,
.sg-form-secondary-button{
    height: 40px;
	font-size:14px;
	padding:5px 20px;
	background: #fff;
	color:#0071bc;
	border:1px solid;
	border-radius: 100px;
	margin-right:10px;
}

.sg-form-primary-button:hover {
	background-color:#02699E;
}
.sg-form-primary-button:disabled {
	opacity: 50%;
}

.sg-form-submit-button:hover {
    color:#0071bc;
	background-color:#fff;
}
.sg-form-cancel-button:hover {
	color:#fff;
	background-color:#0071bc;;
}
.sg-form-large-button{
	font-size:14px;
	height:48px;
	padding:5px 30px;
	background: #0071bc;;
	color:#fff;
	border:1px solid;
	border-radius: 100px;
	margin-right:10px;
}
.sg-form-regular-button{
	font-size:14px;
	height:40px;
	padding:5px 20px;
	background: #0071bc;;
	color:#fff;
	border:1px solid;
	border-radius: 100px;
	margin-right:10px;
}
.sg-form-small-button{
	font-size:12px;
	height:36px;
	padding:5px 20px;
	background: #0071bc;;
	color:#fff;
	border:1px solid;
	border-radius: 100px;
	margin-right:10px;

}
.sg-form-success-button{
	font-size:14px;
	padding:5px 20px;
	background: green;
	color:#fff;
	border:1px solid;
	border-radius:2px;
	margin-right:10px;
}
.sg-form-warning-button{
	font-size:14px;
	padding:5px 20px;
	background: orange;
	color:#fff;
	border:1px solid;
	border-radius:2px;
	margin-right:10px;
}
.sg-form-danger-button{
	font-size:14px;
	padding:5px 20px;
	background: red;
	color:#fff;
	border:1px solid;
	border-radius:2px;
	margin-right:10px;
}

.sg-button-element-body{
  padding: 14px 0px 0px;
  display: block;
  margin: 30px 0 20px 0;
}
/* Buttons --- End */

/* Data list --- Start */
table.data-list {
    width: 100%;
}
table.data-list {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
  table.data-list thead {
    text-align: left;
}
    table.data-list tr>th {
    padding: 0.5em;
    vertical-align: middle;
}
  table.data-list tr>td {
    padding: 0.5em;
    vertical-align: middle;
}
table.data-list input {
    width: 18px;
    height: 18px;
}  
  table.data-list tr>th {
    padding: 0.5em;
}
 tr.spacer {
    height: 4px;
}
table.data-list tbody tr.spacer {
    height: 3px;
}
table.data-list tbody td:first-child{
    margin-left: 10px;
}
table.data-list tbody td:nth-child(2){
    font-weight: 500;
    font-size: 14px;
}
table.data-list tbody td a{
  text-decoration: none;
  font-weight: 500;
  color: #1F292F;
}
  table.data-list tbody th {
    font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
table.data-list tbody tr {
   background: inherit;
    height: 56px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 0px;
} 
/* table.data-list th {
    padding: 0px;
    width: 126px;
}
  table.data-list tr {
    border: 1px solid;
    display: block;
    margin: 2px;
}
  table.data-list td {
    padding: 0px;
    width: 126px;
} */
.sg-row {
  width: 700px;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  background: #fff;
  margin: 10px auto;
}

.sg-child {
  font-size: 14px;	
  margin: 0 15px;
  max-width: 174px;
  color:#424D5C;
}

.sg-child-title {
  font-size: 16px;
  font-family: 'Roboto Regular';	
  font-weight: 400;
  margin: 0 15px;
  max-width: 174px;
  color: #1981B2;
}
span.nLabel {
    font-size: 14px;
    color: #8E949D;
}

/* Search --- Start */
.serach-style{
    height: 40px;
    width: 300px;
    padding: 12px;
    font-size: 12px;
    border: 1px solid #AAC0CE;
    border-radius: 0px;
    margin-bottom: 24px;
    box-sizing: border-box;
	background: #fff;
}
.serach-style:hover{   
    border-bottom: 0px;

}
.sg-input-search {
  width: 700px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #AAC0CE;
  background: #fff;
  margin: 30px auto;
}
.search{
  height: 60px;
  width:80px;
  font-size:20px;
  border-radius: 0px;
  padding:20px 20px 20px 10px;
  margin-top:2px;
  margin-left:10px;
  border:0px;
  transition: width 2s;
  transition-timing-function: cubic-bezier(0, 1.23, 0.24, 0.85);
}

 input.search:hover {
  width:300px;
  border-bottom:2px solid #00ADF2;
}
input::-webkit-input-placeholder {
    color: #fff;
}
input.search:hover::-webkit-input-placeholder {
	/* font-size: 18px; */
  color:#0071BC;
  opacity: 100%
}

 .search-img {
	 padding: 15px;
	height: 54px;
    width: 54px;
    display: inline-block;
    font: normal normal normal 32px/1 'nc-demo_outline';
    text-transform: none;
    -webkit-font-smoothing: antialiased;
 }
/* Search --- End */

/* accordian --- start */
/** {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}*/

li.list-1 a {
    font-size: 14px;
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
li.list-1 img {
  margin-top: 3px;
  position: relative;
  float: left;
}

ul {
    list-style: none;
    padding: 0; 
}
 ul.inner.show li {
    display: flex;
    align-items: center;
    padding: 3px;
} 
ul.inner input {
    width: 18px;
    height: 18px;
}  
 ul.accordion li {
		margin: .15em 0;    
  }
li.list-0 .toggle {
    padding: 0px;
}  
li.list-0 {
    border: 0px solid;
    width: 300px;
}
li.list-0 a{
  text-decoration: none;
  color: #0071BC;
  font-size: 14px;
  }
li.list-0 i{
  color: #585E62;
  position: relative;
  top: 5px;
  font-size: 18px;
}
li.list-1 {
    box-sizing: border-box;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    background: #fff;
    border-radius: 2px;
    width: 300px;
    padding: 0 0.75em;
}
.clear-filter{
  font-size: 14px;
  color: #0071BC;
  cursor: pointer;
}
.clear-filter i{
  font-size: 18px;
  position: relative;
  top: 4px;
  color: #585E62;
}
.toggle {
            width: 100%;
            height: 50px;
            display: block;
            justify-content: space-between;
            display: flex;
            align-items: center;
            /* background: rgba(0,0,0,0.78);
            color: #fefefe; */
            padding: .75em 0px;
            border-radius: 0.15em;
            transition: background .3s ease;
        
        }	

 ul.inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
 }


/* tooltip --- start */
.tooltip {
  width:30px;
  height: 20px;
	align-content: right;
    position: relative;
    display: inline-block;
}
.tooltip p {
  margin-top: 1px;
  color: #fff;
}
.tooltip{
    border: 1px solid #0071bc;
    text-align: center;
	border-radius: 10px;
	background: #0071bc;
}

.tooltip .tooltiptext {
    visibility: hidden;
    height: 240px;
    width: 520px;
    background-color: white;
    color: #fff;
    text-align: center;
    border: 1px solid #888888;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 1px #888888;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-bottom: -226px;
    margin-left: 46px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    /* top: 100%;
	left: 50%; */
	top: 16px;
    left: -17px;
    /* border-color: transparent #666;
	border-width: 10px 10px 0px 0px;  */
	width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #888888;
    /* margin-left: -5px; */
    /* border-width: 10px; */
    border-style: solid;
    /* border-color: #555 transparent transparent transparent; */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.pull-right {
    float: right!important;
}
/*Advance Search*/
.tooltip .tooltip-adv-text {
    visibility: hidden;
    height: 300px;
    width: 736px;
    background-color: white;
    color: #fff;
    text-align: center;
    border: 1px solid #888888;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 1px #888888;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -323%;
    left: -115%;
    margin-bottom: -226px;
    margin-left: 46px;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip .tooltip-adv-text::after {
    content: "";
    position: absolute;
    /* top: 100%;
	left: 50%; */
	top: -15px;
    left: 45px;
    /* border-color: transparent #666;
	border-width: 10px 10px 0px 0px;  */
	width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid #888888;
    /* margin-left: -5px; */
    /* border-width: 10px; */
    border-style: solid;
    /* border-color: #555 transparent transparent transparent; */
}

.tooltip:hover .tooltip-adv-text {
    visibility: visible;
    opacity: 1;
}
.adv-search {
    padding: 5px;
    color: #fff;
    border: 1px solid;
    background: #193958;
    height: 40px;
}
.tooltiptext p {
    color: black;
}
.list-0 a.toggle {
    color: black;
}
span.right-tool {
    padding: 5px;
}
.adv-search-layout {
    padding: 15px;
    color:#fff;
    background: #193958;
}
/* .roundedTwo */
.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedTwo label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: linear-gradient(top, #222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedTwo label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.roundedTwo label:hover::after {
  opacity: 0.3;
}
.roundedTwo input[type=checkbox] {
  visibility: hidden;
}
.roundedTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .roundedTwo */
/* message start */
.success-message {
    padding: 15px;
    color: #fff;
    height: 50px;
    background: #A3D46E;
}
.bold-toast p{
  color:#ffffff;
  font-weight: medium;
  font-size: 16px;
}
.text-toast p{
  color:#334F6A;
  font-size: 14px;
  margin-top: 5px;
}
.text-toast a{
  text-decoration: none;
  margin-bottom: 20px;
}
.toast-message {
  min-height: 90px; 
  padding: 30px;       
  background: #FFFFFF;
  border: 1px solid #F47171;
  box-shadow: inset 4px 0 0 0 #F47171;
  border-radius: 2px;
}
.toast-head {
    font-size: 18px;
    color: #007EBF;
}
.text-head {
    font-size: 18px;
    color: #007EBF;
}
.text-message{
  min-height: 90px; 
  padding: 30px;       
  background: #FFFFFF;
  border: 1px solid #007EBF;;
  box-shadow: inset 4px 0 0 0 #007EBF;;
  border-radius: 2px;
}
.toast-hetext-style {
    font-size: 18px;
    color: #007EBF;
}

.nav i {
    font-size: 22px;
    display: inline-block;
    margin: 0;
    padding: 15px 17px;
}
.nc-icon-outline {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* round-check-box*/
.round {
  position: absolute;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 28px;
}

.round label:after {
  border: 2px solid #66bb6a;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #fff;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

html, body {
  height: 100%;
  margin: 0;
}
/* 
body {
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} */
.sucss-msg{
    margin-left: 35px; 
}

/* round-check-box end*/
/* vertical navigation start*/
ul.vertical-nav a {
    padding: 0px 30px;
    font-weight: 500;
    font-size: 16px;
    color: #1F292F;
    text-decoration: none;
    font-weight: 400;
}
.vertical-nav > li >.active-nav{
    color: #0071BC !important;
    font-weight: bold;
}
 .active-nav li{
  border-left: 1px solid #0071bc;
    margin-left: -20px
}
.vertical-nav li {
    padding: 20px 0px;
}
.vertical-nav .active-nav{
    padding: 14px 26px;
    border-left: 4px solid #0071bc;
}
.vertical-nav li:last-child{
    border-bottom: none;
}
ul.vertical-nav {
    padding: 10px 0px;
}
/*pagination strat*/
.pagination {
    display: inline-block;
}
.page-drop,.page-num-content {
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    float: left;
    padding: 20px;
    height: 54px;
}
/*a.page-link.collapsed {
    padding: 0px;
}*/
.page-num-content b {
    font-weight: 600;
}

.pagination a {
color: black;
float: left;
padding: 5px 8px;
text-decoration: none;
width: 24px;
height: 24px;
}
/*pagination end*/

/*list-item*/
.list-item{
  padding:30px;
  min-height:200px;
  width:300px;
  border:1px solid white;
  background:#fff;
}
.list-item p{  
  font-size:16px;
  color:#0071BC;
}
.list-item .secondary{
  padding: 10px 0px;
  font-size:14px;
  color:#1F292F;
}
.list-item .pull-date{
  color:#585E62;
  font-size:14px;
  float:left;
}
.list-item .line-space{
  margin-top:30px;
  margin-bottom: 15px;
  border-bottom:1px solid #dadada; 
}
.list-item .message-2{
  padding-bottom:20px;
}
/* toast message */
#toast-container {
    position: fixed;
    z-index: 999999;
    top: 12px;
    right: 12px;
}

#toast-container div.toast {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px;
    min-width: 350px;
    border-radius: 3px;
    box-shadow: 0 10px 20px 0 rgba(150, 150, 150, 0.4);
    background-color: white;
    cursor: pointer;
}

#toast-container .toast.bold-toast {
  background-color: #9dca6d;
  color: #fff;
}

#toast-container .toast.text-toast {
  border: 1px solid #67a6f0;
  border-left-width: 5px;
}
#toast-container .toast.text-toast h3 {
  color: #327fa6;
  font-weight:bold;
}

#toast-container .toast h3,
#toast-container .toast p
{
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#toast-container .toast.text-toast.urgent {
  border-color: #F47171;
}

.toast-triggers {
    padding: 40px;
}
.toast-triggers button {
    background-color: #e2e2e2;
}  
/*errror message*/


/* .field-group-item input.sg-form-text-input,
.field-group-item input.sg-form-text-input:active,
.field-group-item input.sg-form-text-input:focus {
  border-color: #66c;
} */
.field-group-item label{
  margin-bottom: 8px;
  font-size: 14px;
}
.field-group-item input{
  margin-top: 8px;
}
.field-group-item input.sg-form-text-input:focus {
  border-color: #0071BC;
}
.error-message {
  display:none;
  position: relative;
}
.field-group-item input:focus + .error-message{
  display:block;
}

.error-message .error-message-line {
  padding: 5px 0px;  
  font-size: 12px;  
  color: #db6c6a;
}

.error-message .error-message-block {
  width: 100%;
  font-size: 12px;  
  padding: 15px;  
  background: #fff;
  position :absolute;
  left: 0;
  top: 5px;
  right: 0;
  border: 1px solid #db6c6a;
  border-left-width: 5px;
}
.field-group-item {
    padding: 10px 0px;
}

.error input.sg-form-text-input {
    height: 40px;
    width: 100%;
    padding: 12px;
    border: 1px solid #AAC0CE;
    border-radius: 0px;
    box-sizing: border-box;
    background: #fff;
}
input.sg-form-text-input {
  height: 40px;
  width: 100%;
  padding: 12px;
  border: 1px solid #AAC0CE;
  border-radius: 0px;
  box-sizing: border-box;
  background: #fff;
}
.suggestion-message{
  display:none;
  position: relative;
}
.field-group-item input:focus + .suggestion-message{
  display:block;
}
.suggestion-message .error-message-line {
  padding: 5px 0px;  
  font-size: 12px;  
  color: #db6c6a;
}

.suggestion-message .error-message-block {
  width: 100%;
  font-size: 12px;  
  padding: 15px;  
  background: #fff;
  position :absolute;
  left: 0;
  top: 5px;
  right: 0;
  border: 1px solid rgba(103, 167, 241, 1);
  border-left-width: 5px;
}
/* .field-group-item .suggestion-message {
  display:block;
} */
/*multiselect*/
#multiselect {
  width: 300px;
}
a.search-choice-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 10px;
  height: 10px;
  opacity: 0.3;
}
a.search-choice-close:hover {
  opacity: 1;
}
a.search-choice-close:before, a.search-choice-close:after {
      position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
a.search-choice-close:before {
  transform: rotate(45deg);
}
a.search-choice-close:after {
  transform: rotate(-45deg);
}
/*multi select*/
li.search-choice {
    
    font-weight: 400;
    position: relative;
    margin: 5px;
    padding: 7px 29px 7px 10px !important;
    max-width: 100%;
    border-radius: 20px !important;
    border: none !important;
    background-image: none !important;
    background-color: #E5EBEF;
    
    color: #1F292F;
    line-height: 13px;
    cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position: absolute;
    display: block;
    width: 24px !important;
    height: 24px !important;
    font-size: 1px;
    top: 0px !important;
    right: 0px !important;
    padding: 2px !important;}

    /*pagination*/
    .pagination {
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  list-style: none;
  border-radius: 0.25rem;
}
.chosen-container-multi .chosen-choices:hover, .chosen-container-multi .chosen-choices:active{
  border-color: #0071BC;
}

.page-item.active .page-link {
  z-index: 2;
  background-color: #CCD3DA;
}

.page-link {
    position: relative;
    display: block;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-left: 15px;
}

.page-link.prev {
  margin-left: 20px
}
.pagination-container p {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-left: 20px;
}
li .page-link:focus, li .page-link:hover {
  background-color: #CCD3DA;
  text-decoration: none;
}
section.sg-demo-wrapper h2 {
    padding: 20px;
}

/* Modal box */
.modal-container {
		    background: #fff;
		    max-width: 450px;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    padding: 20px 40px;
		    box-sizing: border-box;
		    border: 1px solid #aaa;
		    box-shadow: #333 0 0 5px -2px;
		}

		.modal-header {
		    padding: 10px 0 20px;
		    border-bottom: 1px solid #dedede;
		    width: 100%;
		    text-align: center;
		}

		.modal-header h1 {
            font-size: 20px;
			margin:0;
			padding:0;
		}

		.modal-body {
      font-size: 14px;
			padding:20px 0;
      line-height: 1.5;
      text-align: center;
		}

		.modal-footer {
			max-width: 100%;
		}

		.modal-footer button {
		    margin: 10px;
		}

    /* tool bar */
	  .navbar-top {
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    align-items: center;
    z-index: 20000;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
  .ifc-logo {
    text-align: center;
    -webkit-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;
}
  .v-spacer {
    display: inline-block;
    color: #666666;
    text-align: center;
    padding: 0;
}
  .navbar-search {
    -webkit-flex: 1.8;
    -ms-flex: 1.8;
    flex: 1.8;
}
.navbar-search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.accnt-view {
    flex: 0.1;
}
  /* tool bar -end */
  /*progress-bar*/
  .progress-bar {
    height: 7px;
    background: #33BDE9;
    margin:10px 0px;
}
  .progress {
    height: 7px;
    background: #fff;
}


/*spinners*/
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  /*top: 50%; */
  left: 40%;
  width: 36px;
  height: 36px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
   border: 3px solid #fff; 
  border-top-color: #33BDE9;
  animation: spinner .6s linear infinite;
}
.chosen-container .chosen-results li.highlighted {
    background: #E5EBEF !important;
    color: black !important;
}
  .chosen-container-multi .chosen-choices li.search-field input[type=text] {
    height: 40px !important;
    box-shadow: none !important;
    outline: none !important;
}
  .chosen-container-multi .chosen-choices li.search-field input[type=text]:focus {
    outline: none !important;
}
  .chosen-container-multi .chosen-choices li.search-choice {
    margin: 8px 5px 3px 0 !important;
}
  /* filters */
  li.filters {
    border-width: 0px;
    align-items: center;
    padding: 5px;
    width: 300px;
    height: 50px;
    background: inherit;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(228, 228, 228, 1);
    justify-content: space-between;
    display: flex;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filters a{
  text-align: left;
  float: left;
}
.filter-save,.filter-advanced {
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #0071BC;
}
.filters-text {
    font-family: 'RobotoSlab-Regular', 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    line-height: normal;
}
.filted-saved {
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #585E62;
    font-size: 14px;
}
ul.inner {
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
}  
ul.accordion {
    padding: 50px;
    background: rgba(242, 242, 242, 1);
}
.sg-form-element.data-list {
    background: rgba(242, 242, 242, 1);
}
a.toggle.active {
    border-bottom: 1px solid rgba(228, 228, 228, 1);
}  
.list-1 i.nc-icon.nc-small-down {
    font-size: 20px;
    position: relative;
    top: 3px;
    margin-right: 2px;
} 
.list-1 span{
  position: relative;
  top: -3px;
}
.page-drop i.nc-icon.nc-small-down {
    font-size: 12px;
}   
/*help-form*/
.form-message {
    width: 404px;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    font-size: 14px;
}
.form-radio {
  padding: 14px 0px;
  font-family: 'Roboto-Regular', 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #1F292F;
  line-height: normal;
  text-align: left;
}
.form-radio p {
    padding: 10px 0px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #666666;
    text-align: left;
    font-size: 14px;
}
.form-help-lable {
    padding: 10px 0px;
}
.select-form {
    padding: 10px 0px;
}    
.form-toggle p {
    padding: 10px 0px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #666666;
    text-align: left;
    font-size: 14px;
}
.select-form.sg-form-group {
    width: 300px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(153, 167, 181, 1);
    border-radius: 2px;
} 
label.sg-form-label.comments {
    padding: 10px 0px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #666666;
    text-align: left;
    font-size: 14px;
}     
  /*toggle slider*/
  .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  background: inherit;
    background-color: rgba(88, 94, 98, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(88, 94, 98, 1);
    border-radius: 8px;
    box-shadow:none;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: rgba(88, 94, 98, 1);
  background-color: rgba(88, 94, 98, 1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
    top: -3px;
    left: -2px;
    width: 18px;
    height: 18px;
 font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(31, 41, 47, 0.498039215686275);
    text-align: center;
    line-height: normal;
    border-color: rgba(88, 94, 98, 1);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
 background-color: rgba(0, 113, 188, 1);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 113, 188, 1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}
span.toggle-label {
    padding-left: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #000000;
    line-height: 28px;
    font-size: 14px;
}
  /* Hover tooltips */
div#tooltip-container {
    padding: 40px 0px;
}  
.field-tip {
    position:relative;
}
    .field-tip .tip-content {
        position:absolute;
        top:-20px; /* - top padding */
        right:9999px;
        width:225px;
        margin-right:-220px; /* width + left/right padding */
        padding:10px;
        color:#fff;
        background-color: #025891;
        -webkit-box-shadow:2px 2px 5px #aaa;
           -moz-box-shadow:2px 2px 5px #aaa;
                box-shadow:2px 2px 5px #aaa;
        opacity:0;
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
    }
        .field-tip .tip-content-1 {
          position: absolute;
          top: -64px;
          left: -38px;
          right: 9999px;
          width: 225px;
          margin-right: -220px;
          padding: 10px;
          color: #fff;
          background-color: #025891;
          -webkit-box-shadow: 2px 2px 5px #aaa;
          -moz-box-shadow: 2px 2px 5px #aaa;
          box-shadow: 2px 2px 5px #aaa;
          opacity: 0;
          -webkit-transition: opacity 250ms ease-out;
          -moz-transition: opacity 250ms ease-out;
          -ms-transition: opacity 250ms ease-out;
          -o-transition: opacity 250ms ease-out;
          transition: opacity 250ms ease-out;
    } 
     .field-tip .tip-content-1:before {
        content: ' ';
        position: absolute;
        top: 115%;
        left: 70px;
        width: 0;
        height: 0;
        margin-top: -8px;
        border: 8px solid transparent;
        border-top-color: #025891;
        }                   
        .field-tip .tip-content:before {
            content:' '; /* Must have content to display */
            position:absolute;
            top:30%;
            left:-16px; /* 2 x border width */
            width:0;
            height:0;
            margin-top:-8px; /* - border width */
            border:8px solid transparent;
            border-right-color:#025891;
        }
       .field-tip:hover .tip-content-1 {
            right:-20px;
            opacity:1;
        }
        .field-tip:hover .tip-content {
            right:-20px;
            opacity:1;
        }

        .sg-tabs-container-task-panel.task-page {
              background: #F2F5F7;
          }
        .task-page .select-form.sg-form-group {
              background: #F2F5F7;
          }    
        .form-message-task {
              background: #E5EBEF;
              padding: 10px;
          }    

        .form-check p {
            padding: 10px 0px;
            width: 225px;
            font-family: 'Roboto';
            font-weight: 400;
            font-style: normal;
            color: #666666;
            text-align: left;
            font-size: 14px;
        } 
         .form-check{
           width: 425px;
        } 
        .form-check span {
            padding: 4px;
        }             

        .adv-search-layout {
        height: 90px;
        align-items: center;  
        display: flex;
        padding: 15px;
        color: #fff;
        background: #193958;
        }
      .partner-ribbon{
          display: flex;
         flex-direction: column;
        }
        .adv-row {
              padding: 5px 30px 5px 0px;
              display: block;
              justify-content: space-between;
          }
      .partner-row-title{
             font-family:'Roboto-Regular', 'Roboto';font-weight:400;color:rgba(255, 255, 255, 0.698039215686274);
      }  

      .partner-row-content{
        font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';font-weight:700;color:#FFFFFF;
      }
      .partner-row-colon{
        font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';font-weight:700;color:rgba(255, 255, 255, 0.698039215686274);
      }
      .timeline{
        font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';color:#FFFFFF;font-size:14px;font-weight:700;
      }

      /*data grid*/
      .datagrid-layout {
        margin-top: 3px;
        align-items: center;
        display: flex;
        padding: 15px;
        height: 110px;
        background: #fff;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(228, 228, 228, 1);
        border-radius: 2px;
        }
       .data-row-title{
          font-family: 'Roboto Regular', 'Roboto';
          font-weight: 400;
          font-style: normal;
          color: #000000;   
          font-size: 14px;
          }  

      .data-row-content{
        font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto';
        font-weight: 700;
        font-style: normal;
        color: #000000;
      }
      .data-row-colon{
        font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';font-weight:700;color:rgba(255, 255, 255, 0.698039215686274);
      }
      .datagrid-layout .adv-row {
     padding: 5px 52px 5px 0px;
     }
      .datagrid-layout .adv-row p {
          padding: 5px 0px;
      }
     .adv-row i {
          color: #fff;
      } 
     .taransform-1 {
          padding: 10px 0px;
      }
     p.transform-title {
      font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto';
      font-weight: 500;
      font-style: normal;
      font-size: 16px;
      color: #1F292F;
     } 
     .transform-row-title{ 
      font-family: 'Roboto Regular', 'Roboto';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #585E62;
      }
     
    .transform-row-content{ 
    font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #1F292F;
    text-align: left;
    }
    
    .trans-info{
    font-size: 16px;
    color: #585E62;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    }
    .transform-basic p {
        padding: 5px;
    }
      .transform-basic {
        padding: 10px;
    }
    .trans-info {
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    }  
    .sg-tabs-container-task-panel.task-page.transaction {
    width: 479px;
    padding: 0px;
    }
   .transaction-label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-width: 0px;
    width: 479px;
    height: 60px;
    background: inherit;
    background-color: rgba(0, 55, 78, 0.0980392156862745);
    border: none;
    border-radius: 2px;
   }
   .transaction .sg-form-element-body {
        padding: 0px 20px;
    }
   .transaction .gs-tabs-navigation {
    padding: 20px 20px 0px;
    }
   .task-page form {
    padding-top: 20px;
    }
    .transaction-upload span {
    padding: 2px;
    font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #0071BC;
    }
    .datagrid-layout i {
    font-size: 24px;
    }
    .datagrid-layout .datagrid {
    padding: 10px;
    margin-bottom: 50px;
    }
    span.field-tip i {
    color: #0071bc;
    }  
    .adv-row.ribbon-title {
    font-family: 'Roboto Slab Regular', 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
    }
  /* check box */
  .squaredOne {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  border:1px solid #0071bc;
  border-radius:2px;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
 }
.squaredOne label {
  position: absolute;
  top: 3px;
  left: 3px;
}
.squaredOne label:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 2px;
  background: #0071bc;
  background: linear-gradient(top, red 0%, black 100%);
  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/*sqaure check*/
  .squaredOne1,.squaredOne2 ,.squaredOne3,.squaredOne4 {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  border:1px solid #333;
  border-radius:2px;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
 }
.squaredOne1 label,.squaredOne2 label ,.squaredOne3 label,.squaredOne4 label  {
  position: absolute;
  top: 0px;
  left: 0px;
}
.squaredOne1 label:after,.squaredOne2 label:after,.squaredOne3 label:after,.squaredOne4 label:after {
    font-size: 23px;
    text-align: center;
    content: '\2713';
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    background: #0071bc;
    opacity: 0;
    padding: 2px;
}
.squaredOne1 label:hover::after,.squaredOne2 label:hover::after,
.squaredOne3 label:hover::after,.squaredOne4 label:hover::after {
  opacity: 0.3;
}
.squaredOne1 input[type=checkbox],.squaredOne2 input[type=checkbox],
.squaredOne3 input[type=checkbox],.squaredOne4 input[type=checkbox] {
  visibility: hidden;
}
.squaredOne1 input[type=checkbox]:checked + label:after,
.squaredOne2 input[type=checkbox]:checked + label:after,
.squaredOne3 input[type=checkbox]:checked + label:after,
.squaredOne4 input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.check-filter {
    display: flex;
    align-items: center;
    padding: 20px;
}
/*radio button */

.roundedOne,.roundedOne1,.roundedOne2 {
  position: relative;
}

.roundedOne label ,.roundedOne1 label, .roundedOne2 label {
   cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ababab;
    background: #fff;
    border-radius: 50px;
    width: 20px;
    height: 20px;

}
.roundedOne label:after ,.roundedOne1 label:after, .roundedOne2 label:after{
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #0071bc;
  opacity: 0;
  border-radius: 50px;
}

roundedOne input:checked ~ label ,.roundedOne1 input:checked ~ label, .roundedOne2 input:checked ~ label{
  border: 1px solid #007ebf;
}

.roundedOne label:hover::after,.roundedOne1 label:hover::after,.roundedOne2 label:hover::after {
  opacity: 0.3;
}
.roundedOne input[type=checkbox],.roundedOne1 input[type=checkbox],.roundedOne2 input[type=checkbox] {
  visibility: hidden;
}
.roundedOne input[type=checkbox]:checked + label:after,
.roundedOne1 input[type=checkbox]:checked + label:after,
.roundedOne2 input[type=checkbox]:checked + label:after 
{
  opacity: 1;
}

/* toggle-switch */

.slideOne {
  position: relative;
    width: 34px;
    height: 14px;
    box-sizing: border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.slideOne .buttonPop {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  left: -3px;
  cursor: pointer;
  background: #fff;
  border-radius: 50px;
  box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.5);
  transition: all 0.4s ease;
}
.slideOne input[type=checkbox] {
    opacity: 0;
    z-index: 1;
    width: 34px;
    height: 14px;
    position: absolute;
    top: -5px;
}

.slideOne input:checked ~ .buttonPop {
  left:16px;
  box-shadow: -1px 0px 2px 0px rgba(0,0,0,0.5);
}

.slideOne > input ~ label{
    position: absolute;
    top: -2px;
    left: 41px;
    white-space: nowrap;
    display: block;
    font-size: 15px;
}

.slideOne > input ~ label::after {
  content: ' off';
}

.slideOne > input:checked ~ label::after {
  content: ' on';
}

.slideOne input ~ .state{
  background: #333;
  border:1px solid #333;
  border-radius: 8px;
  width: 32px;
  height: 14px;
  position: absolute;
  top: -1px;
}

.slideOne input:checked ~ .state{
  background: #0071bc;
  border:1px solid #0071bc;
}

.col-md-100.greybox.date-picker {
    min-height: 400px;
}

.item-title {
    width: 383px;
    height: 56px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-right: 0px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    padding: 20px;
}
/*date picker */
div#ui-datepicker-div {
    padding: 23px;
    height: 305px;
    top: 229px !important;
    box-sizing: border-box;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 211, 218);
    border-radius: 2px;
    width: 304px;
}
table.ui-datepicker-calendar {
    width: 268px;
    height: 262px;
}  
a.ui-datepicker-prev.ui-corner-all {
    float: left;
}
a.ui-datepicker-next.ui-corner-all {
    float: right;
}
.ui-datepicker-title {
    font-family: Roboto-Bold, "Roboto Bold", Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-align: center;
} 
table.ui-datepicker-calendar thead {
    padding: 20px !important;
    font-family: Roboto-Medium, "Roboto Medium", Roboto;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    line-height: 3;
}
  a.ui-state-default {
    text-decoration: none;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
    outline: none !important;
}       
input#datepicker1 {
    width: 155px;
    height: 40px;
    font-family: Roboto-Bold, "Roboto Bold", Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    padding: 1px 0px 1px 0px;
}
input#datepicker2 {
    width: 155px;
    height: 40px;
    font-family: Roboto-Bold, "Roboto Bold", Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    padding: 1px 0px 1px 0px;
}  
input#datepicker:focus {
     transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}    

input#basicExample {
    padding: 10px;
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 155px;
    height: 41px;
    box-sizing: border-box;
    box-shadow: none;
    color: rgb(0, 0, 0);
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 211, 218);
    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url(../images/ic_arrow_drop_down_24px.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
li.ui-menu-item {
    text-align: left;
    font-size: 14px;
} 
.ui-timepicker-container.ui-timepicker-standard {
    height: 142px !important;
}
.ui-corner-all .ui-state-hover{
 background: none !important;
 border: none !important;
}
.time-picker {
    padding-right: 20px;
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #5C646D;
}
.flex-input{
    align-items: center;
    display: flex;
     padding-right: 20px;
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #5C646D;
}
.flex-container {
    display: flex;
}       
span.radio-label {
    padding: 20px;
}  

/*input field*/
.sg-form-group.inpul-label {
    width: 365px;
    height: 36px;
    background-color: transparent;
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #1F292F;
    text-align: left;
    border-color: transparent;
}
.sg-form-group.droplist-label select {
    width: 379px;
    height: 40px;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #1F292F;
    outline-style: none;
    text-decoration: none;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 211, 218, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url(../images/ic_arrow_drop_down_24px.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.sg-form-group.textarea-label {
    width: 745px;
    height: 136px;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #1F292F;
    text-align: left;
    border-color: transparent;
    outline-style: none;
}    
.sg-form-group.droplist-label {
    padding-top: 20px;
    font-size: 14px;
}  